
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.mima{
    font-family: 'Miama', sans-serif;
    font-size: 150px;
    font-weight: 400;
    font-style: normal;
  }

.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    color: white;
    background-color: rgb(0, 0, 0);
}

/* navbar related style */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    margin-left: 100px;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: rgb(230, 83, 60);
}
.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-right: 70px;
}
.vector{
    display: none;
}
nav ul li{
    margin-right: 30px;
}
.link{
    width: 60px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px 8px 20px;
    border-radius: 40px;
    background-color: rgb(230, 83, 60);
}

/* banner section start */

.banner{
    display: flex;
    justify-content: center;
    gap: 160px;
}
.banner-hading{
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}
.paragraph,
.team-box p,  
td{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
.btn-join, 
.btn-app, 
.btn-bmi{
    width: 200px;
    height: 54px;
    border-radius: 42px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
}
.btn-join, .btn-bmi{
    background-color: rgb(230, 83, 60);
}
.btn-app{
    background-color:rgb(0, 0, 0);
    border: 1px solid white;
}
.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-img{
    width: 350px;
    height: 580px;
    background-image: url(../images/Images\ 2.png);
    background-repeat: no-repeat;
}
.box1, 
.box2{
    width: 180px;
    height: 96px;
    border-radius: 12px;
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(4px);
}
.box1{
    margin-right: -90px;
    margin-bottom: -350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.box1-back{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
}
.box2{
    margin-left: -120px;
    margin-top: -200px;
    text-align: center;
}

/* habits section start */

.habit{
    margin-top: 100px;
}
.habit-content,
.service-title{
    text-align: center;
}
.habit-title, 
.run-title, 
.team h2, 
.calculate h2{
    font-size: 40px;
    font-weight: 800;
}
.habit-card{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 58px;
}
.card-title{
    text-align: center;
}
.card-title img{
    border-radius: 50%;
}
.card-title h5{
    font-size: 18px;
    font-weight: 600;
}

/* Run section start */

.run{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1060px;
    height: 370px;
    border-radius: 18px;
    margin-left: 130px;
    gap: 160px;
    margin-top: 100px;
    background-color: rgb(34, 34, 34);
}
.run-content{
    text-align: center;
    margin-top: 20px;
}
.run-img img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
}

/* Service section start */

.service-title{
    font-size: 30px;
    font-weight: 300;
    margin-top: 80px;
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.service div{
    width: 280px;
    height: 410px;
    border-radius: 18px;
    padding: 10px;
    background-color: rgb(34, 34, 34);
}
.service h3{
    margin-left: 10px;
}
.btn-service{
    width: 150px;
    height: 45px;
    border-radius: 42px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgb(34, 34, 34);
}
.service img{
    width: 250px;
    height: 200px;
    border-radius: 18px;
    margin-top: 50px;
    margin-left: 16px;
}

/* BMI section start */

.bmi{
    width: 1440px;
    height: 430px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    gap: 150px;
    background-color: rgb(34, 34, 34);
}
.bmi-chart h3, 
.bmi-form h3,
.service h3{
    font-size: 30px;
    font-weight: 900;
}
.form4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 30px;
}
.form4 input{
    width: 180px;
}
.form4 input, #form5{
    height: 30px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px 16px 8px 16px;
    border: none;
    font-size: 16px;
}
#gender, #form5{
    background-image: url(../images/Arrow.png);
    background-repeat: no-repeat;
    background-size: 20px;
}
#gender{
    background-position: 165px;
}
#form5{
    width: 404px;
    margin-top: 10px;
    background-position: 390px;
}
.btn-bmi{
    margin-top: 10px;
}
table{
    border-collapse: collapse;
    width: 310px;
    height: 216px;
    text-align: center;
}
td, th{
    border: 1px solid white;
    padding: 5px;
}

/* team section start */

.team, 
.calculate{
    text-align: center;
    margin-top: 80px;
}
.team-bar{
    width: 1060px;
    height: 604px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-left: 130px;
    background-color: rgb(34, 34, 34);
    padding: 20px;
    margin-top: 58px;
}
.team-box{
    width: 320px;
    height: 272px;
    border-radius: 18px;
    position: relative;
}
.team-box img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
}
.team-box div{
    position: absolute;
    bottom: 2%;
    left: 5%;
}

/* Footer section start */

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
}
.footer-content{
    display: flex;
    gap: 160px;
}
.footer-title{
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
    color: rgb(230, 83, 60);
}
.footer-line{
    width: 1060px;
    margin-top: 60px;
    margin-bottom: 15px;
    border: 2px solid rgba(155, 59, 59, 0.534);
}

/* media quary for mobile */

@media screen and (max-width: 576px) {
    .banner, 
    .habit-card, 
    .run{
        flex-direction: column;
    }
    .nav-title{
        margin-left: 0;
    }
    .navbar-list{
        display: none;
    }
    .vector{
        display: block;
        margin-right: 60px;
    }
    .run{
        margin-left: 30px;
        width: 420px;
        height: 700px;
        gap: 50px;
    }
    .service{
        flex-direction: column;
    }
    .bmi{
        width: 450px;
        height: 800px;
        flex-direction: column;
        gap: 50px;
        margin-left: 15px;
    }
    .team-bar{
        grid-template-columns: repeat(1, 1fr);
        width: 340px;
        height: 1682px;
        gap: 10px;
        margin-left: 30px;
    }
    .footer{
        width: 390px;
        height: 700px;
        margin-left: 30px;
    }
    .footer-content{
        flex-direction: column;
        gap: 10px;
    }
    .footer-line{
        width: 350px;
    }
}